<nav class="header-navbar navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand font-weight-bold text-uppercase" routerLink="/">
        <img class="img-fluid site-logo" *ngIf="showLogo" src="../../../../assets/images/header/logo.png" alt="{{ siteName }}" />
        <span *ngIf="!showLogo" class="site-name">{{ siteName }}</span>
    </a>
    <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarText"
        aria-controls="navbarText"
        aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-auto text-center">

            <li *ngFor="let item of navItems" [ngClass]="item.classes">
                <a class="nav-link" routerLink="{{ item.link }}">{{ item.name }}</a>
            </li>

            <!-- <li *ngIf="!isLoggedIn && router.url !== '/login'">
                <a class="btn btn-primary text-white bg-success border-0 rounded-pill" routerLink="/login">Login</a>
            </li>

            <li *ngIf="isLoggedIn && router.url !== '/login'">
                <a (click)="logout()" class="btn btn-primary text-white bg-danger border-0 rounded-pill" routerLink="/logout">Logout</a>
            </li> -->

        </ul>
    </div>
</nav>